body {
    background-color: #3C1053FF;
}

.title {
    background-color: #DF6589FF;
    color: #3C1053FF;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    margin:0;
}



.img-wrapper {

    display: flex;
    justify-content: center;


}

.background {
    margin:0;
    display: block;
}

ul>li {
    text-align: center;
    line-height: 6rem;
    font-size: 5rem;
    color:#DF6589FF;
}

ul>li>a {
    color: rgb(194, 194, 194)
}

.card-wrapper {

display: flex;
justify-content: center;

}

.card {
   background-color: rgb(253, 248, 248);
   text-align:center;
   width: 350px;
   height:auto;
   margin: 3rem;
   outline: #DF6589FF solid 1em;
   
}

.card>img {
    width: 100%;
    height: auto;
    margin:0;
   
    
}


